.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0 100px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 90%;
    transition: all .5s linear;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
}

.Genres{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
.Genres:hover .ListGenres{
    display: block;
}

.ListGenres:hover .ListGenres{
    display: block;
}

.genres-item:hover{
    background-color: white;
    color: black;
}

li.genres-item.active{
    background-color: white;
    color: black;
}

.ListGenres{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 63px;
    list-style: none;
    position: absolute;
}

.ListGenres li{
    padding: 10px 20px;
    margin: 10px;
}

.navbar .direct {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.navbar.active{
    background-color: black;
    transition: all .5s linear;
}
a.active{
    background-color: white;
    color: black !important;
}

.navbar .right-bar svg.user{
    font-size: 45px;
    margin-left: 30px;
    cursor: pointer;
    color: white;
}
.navbar .right-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginTag{
    position: absolute;
    top: 80px;
    right: 30px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.login{
    width: 200px;
    text-align: center;
    height: 50px;
}
.login:hover{
    background-color: white;
    color: black;
}