.background-image {
    background-size: cover;
    background-position: center;
    height: 650px;
    margin-top: 90px;
    opacity: 0.7;
}
.imgDetail{
    width: 350px;
    height: 500px;
}

.detailTag{
    position: absolute;
    top: 0;
    padding: 70px 100px;
    display: flex;
    overflow: hidden;
}

.infoDetailTag{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    width: 1250px;

}